@font-face {
  font-family: "SverigeScript";
  src: url('../fonts/SverigeScriptDecorated.ttf');
}

body {
  // background-image: url("../images/paper.png");
  background-color: #F1F1F1;
  font-family: 'Lato';
  font-size: 15px;

  h1, h2 {
    color: #D1A232;
    font-family: 'Shadows Into Light Two', 'Candara';
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 20px;
    }
  }

  a {
    color: #3b9090;
  }

  a:hover {
    text-decoration: none;
  }

  p.help {
    font-style: italic;
  }

  // Empêche Chrome de rajouter un outline bleu merdique au focus des trucs
  *:focus, textarea:focus, input:focus {
    outline: none;
  }

  header#header.jumbotron {
    padding: 0;
    margin: 0 0 10px 0;

    #header_wrapper {
      padding: 40px 0 0 0;
      position: relative;

      a {
        color: #3b9090;
      }

      a:hover {
        text-decoration: none;
        color: #FFFFFF;
      }

      h1 {
        margin: 0;
        text-align: center;
        font-variant: small-caps;
        font-size: 55px;
        line-height: 70px;

        a, a:hover {
          color: #D1A232;
          text-decoration: none;
        }
      }

      div#menu_bar {
        margin-top: 30px;
        border-bottom: 3px solid #373A3F;
        font-family: 'Raleway', 'Calibri', sans-serif;
        font-weight: bold;

        div#user_ribbon {
          float: right;
          padding: 5px 0 0 0;
          font-size: 16px;

          a:hover {
            color: #333333;
          }
        }

        nav.navbar {
          float: left;
          min-height: 10px;
          margin-bottom: 0;
          border: none;

          ul#main_menu.inline_list {
            list-style: none;
            padding: 0;
            margin: 0;

            li.active,
            li:hover {
              a {
                background-color: #373A3F;
                color: #FFFFFF;
                position: relative;
                text-decoration: none;
                border: 1px solid #373A3F;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
              }
            }

            li.first_level {
              position: relative;
              vertical-align: top;
              margin-right: 10px;
              font-size: 16px;

              a {
                display: block;
                padding: 5px 8px 4px;
                border: 1px solid transparent;
              }

              ul.submenu {
                display: none;
                position: absolute;
                top: 30px;
                width: 100%;
                padding-left: 0;
                padding-top: 5px;

                li:before,
                li:after {
                  content: '';
                  width: 20px;
                  height: 35px;
                  background-color: #373A3F;
                  position: absolute;
                  top: -1px;
                }

                li:before {
                  left: -7px;
                }

                li:after {
                  right: -7px;
                }

                li {
                  background-color: #2E3136;
                  width: 100%;
                  border-bottom: 1px solid #3C3C3C;
                  position: relative;

                  a {
                    padding: 5px;
                    color: #3b9090;
                    display: block;
                    text-align: center;
                  }

                  a:hover {
                    background-color: #373A3F;
                    color: #ffffff;
                  }
                }

                li:last-child {
                  border-bottom: none;
                }
              }
            }

            li.first_level:hover::before,
            li.first_level.active::before {
              content: '';
              border-top: 18px solid transparent;
              border-bottom: 18px solid #373A3F;
              border-left: 4px solid transparent;
              border-right: 4px solid #373A3F;
              position: absolute;
              top: 0px;
              left: -8px;
            }

            li.first_level:hover::after,
            li.first_level.active::after {
              content: '';
              border-top: 18px solid transparent;
              border-bottom: 18px solid #373A3F;
              border-left: 4px solid #373A3F;
              border-right: 4px solid transparent;
              position: absolute;
              top: 0px;
              right: -8px;
            }
          }
        }
      }
    }
  }

  #left_column {
    float: left;
    width: 230px;
    margin-top: 35px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 12px;
    font-family: 'Raleway', 'Calibri', sans-serif;
    font-weight: bold;
    border: 2px solid #333333;
    border-radius: 5px;

    h3 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #D1A232;
    }

    .percent_accomplished,
    .percent_nano_accomplished,
    .percent_days_accomplished {
      position: relative;
      margin: 0 0 10px;
      border: 1px solid #333333;

      .percentage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #51E898;
        z-index: 1;
      }

      .word_count,
      .nano_word_count,
      .days_word_count {
        position: relative;
        z-index: 10;
        padding: 5px;
        color: #333333;
        background-color: transparent;
      }
    }

    .nano_mode {
      font-size: 13px;

      p {
        margin: 5px;
        text-align: center;
        font-style: italic;
      }
    }
  }

  .container {
    div#breadcrumb {
      ul {
        li {
          font-family: 'Open Sans Condensed', 'Calibri', sans-serif;
          margin-right: 0;
          color: #136f63;
          font-size: 16px;

          a {
            color: #136f63;
          }
        }

        li:after {
          // content: "\27A4";
          content: "/";
          color: #136f63;
          margin-left: 2px;
          font-size: 20px;
        }

        li:last-child:after {
          content: "";
        }

        li:last-child {
          font-weight: bold;
          color: #136f63;
        }
      }
    }

    p.message {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    p.status_message {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

    #content {
      margin-top: 30px;

      .content_wrapper {
        margin-top: 30px;

        .well {
          background-color: transparent;
          border: none;
        }

        .btn {
          background-color: #2DAB9B;
          border-color: #018574;
          float: right;
        }

        .hidden {
          display: none;
        }

        .quota_reached {
          color: #3c763d;
          background-color: #dff0d8;
          padding: 0 5px;
          margin-left: 10px;
        }
      }
    }

    #content.col-md-10 {
      position: inherit;
    }
  }

  footer {
    background-color: #2E3136;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
