@font-face {
  font-family: "SverigeScript";
  src: url('../fonts/SverigeScriptDecorated.ttf');
}

body {
  background-color: #F1F1F1;
  font-family: 'Lato';
  font-size: 15px;

  h1, h2, h3, h4 {
    color: #cc6475;
  }

  h1, h2 {
    font-family: 'Shadows Into Light Two', 'Candara';
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  h3, h4 {
    font-family: 'Raleway', 'Calibri', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 20px;
    }
  }

  a {
    color: #3b9090;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }

  hr {
    height: 1px;
    margin: 30px 0;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  center {
    clear: right;
    display: block;
  }

  p.help {
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    color: #B183B3;
    font-weight: bold;
  }

  p.explain {
    font-size: 11px;
    font-style: italic;
  }

  .help-block {
    color: #cc6475;
  }

  // Empêche Chrome de rajouter un outline bleu merdique au focus des trucs
  *:focus, textarea:focus, input:focus {
    outline: none;
  }

  #dialog {
    display: none;
  }

  header#header.jumbotron {
    padding: 0;
    margin: 0 0 10px 0;
    background-color: #F1F1F1;

    #header_wrapper {
      padding: 40px 0 0 0;
      position: relative;

      a {
        color: #3b9090;
      }

      a:hover {
        text-decoration: none;
        color: #FFFFFF;
      }

      h1 {
        margin: 0;
        text-align: center;
        font-variant: small-caps;
        font-size: 55px;
        line-height: 70px;

        a, a:hover {
          color: #cc6475;
          text-decoration: none;
        }
      }

      div#menu_bar {
        margin-top: 30px;
        font-family: 'Raleway', 'Calibri', sans-serif;
        font-weight: bold;
        background-color: #444952;

        div#user_ribbon {
          float: right;
          padding: 10px 0 0 0;
          font-size: 14px;
          color: #FFFFFF;

          a {
            color: #7AB8B8;
            transition: color 200ms ease-in;
          }

          a:hover {
            color: #FFFFFF;
            transition: color 200ms ease-in;
          }
        }

        nav.navbar {
          float: left;
          min-height: 10px;
          margin-bottom: 0;
          border: none;

          ul#main_menu.inline_list {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;

            li.first_level.active,
            li.first_level:hover {
              a.first_level_link {
                background-color: #373A3F;
                color: #7AB8B8;
                position: relative;
                transition: all 200ms ease-in;
              }
            }

            li.first_level {
              position: relative;
              margin: 0;
              margin-right: -5px;
              min-width: 100px;
              font-size: 16px;

              a {
                display: block;
                padding: 10px 20px;
                color: #FFFFFF;
                transition: all 200ms ease-in;
              }

              ul.submenu {
                display: none;
                position: absolute;
                background-color: #373A3F;
                z-index: 9;

                li.second_level {
                  display: block;
                  margin-right: 0;

                  a {
                    padding: 10px 20px;
                  }

                  a:hover {
                    color: #7AB8B8;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #left_column {
    float: left;
    width: 230px;
    border: 2px dashed #D1A232;
    margin-top: 35px;
    margin-left: 30px;
    // background-color: #E1E7CD;
    font-size: 13px;
    font-family: 'Raleway', 'Calibri', sans-serif;
    font-weight: bold;

    h3 {
      margin: 0;
      margin-top: -2px;
      margin-left: -3px;
      width: 232px;
      padding: 10px 0 0;
      font-size: 16px;
      color: #FFFFFF;
      background-color: #D1A232;
      text-align: center;
      font-family: 'Bevan', '', sans-serif;
    }

    #triangle {
      width: 0;
      height: 0;
      margin-left: -2px;
      border-style: solid;
      border-width: 19px 115px 0 115px;
      border-color: #d1a132 transparent transparent transparent;
    }

    #left_column_content {
      margin-top: 10px;
      padding: 10px 20px;

      p.italic {
        margin: 5px;
        text-align: center;
        font-style: italic;
        font-size: 13px;
      }

      .percent_accomplished,
      .percent_nano_accomplished,
      .percent_days_accomplished {
        position: relative;
        margin: 0 0 10px;
        overflow: hidden;
        height: 25px;
        background: #555;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 10px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

        .percentage {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          z-index: 1;
          display: block;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: #51E898;
          background-image: linear-gradient(
            to bottom,
            rgb(81,232,152),
            rgb(84,240,84)
          );
          box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
          overflow: hidden;
        }

        .percent_number {
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          text-align: center;
          color: #FFFFFF;
          z-index: 10;
        }

        .word_count,
        .nano_word_count,
        .days_word_count {
          position: absolute;
          top: 2px;
          left: 10px;
          z-index: 10;
          color: #FFFFFF;
          background-color: transparent;
        }
      }
    }
  }

  .container {
    p.message {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    p.status_message {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

    #content {
      margin-top: 30px;

      .error_wrapper {
        text-align: center;

        p.ah_image {
          width: 200px;
          margin: 10px auto 30px;

          img {
            width: 200px;
          }
        }

        blockquote {
          border: 2px dashed #272822;
          background-color: #9C9C9A;
        }
      }

      .content_wrapper {
        margin-top: 40px;

        .well {
          background-color: transparent;
          border: none;
        }

        .btn {
          background-color: #2DAB9B;
          border-color: #018574;
          float: right;
        }

        .hidden {
          display: none;
        }

        .quota_reached {
          color: #3c763d;
          background-color: #dff0d8;
          padding: 0 5px;
          margin-left: 10px;
        }
      }
    }

    #content.col-md-10 {
      position: inherit;
    }
  }
}
