{% extends "MyStatsBundle::layout.html.twig" %}

{% block fil_ariane %}
  {{ parent() }}
  <li>mes WW</li>
  {# {{ render(controller('WordWarsBundle:WordWars:breadcrumb')) }} #}
{% endblock %}

{% block title_page %}Soon...{% endblock %}

{% block mystats_body %}
  <div id="mystats_wrapper" class="content_wrapper">
  </div>
{% endblock %}
