#left_column {
}

#mywords_wrapper {
  #daily_words_wrapper {
    position: relative;
    padding-top: 20px;

    #words_header {
      font-size: 12px;
      margin-bottom: 20px;
      font-family: 'Raleway', 'Calibri', sans-serif;
      font-weight: bold;

      span#word_counter, span#progression_status {
        display: inline-block;
      }

      span#progression_status {
        margin-left: 10px;
      }

      #progression_status {
        display: none;
      }

      #progression_status.ok {
        color: #609561;
      }

      #progression_status.ko {
        color: orange;
      }

      button {
        margin-left: 10px;
        float: right;
        border: 1px solid transparent;
        width: 13px;
        height: 13px;
        background-repeat: no-repeat;
        background-size: 12px auto;
        background-color: transparent;
      }

      button#focus_me {
        background-image: url('../images/focus.png');
      }

      button#save_me {
        background-image: url('../images/save.png');
      }
    }

    textarea {
      border: 1px dotted #D1A132;
      padding: 5px 10px;
      width: 100%;
      min-height: 300px;
      clip:rect(0,189px, 50px, 0);
      z-index: -1;
      resize: none;
      background-color: #F1F1F1;
    }
  }

  #daily_words_wrapper.distraction_free {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    background: #F1F1F1;
    z-index: 10;
    padding: 50px 20%;

    #words_header {
      button#focus_me {
        background-image: url('../images/unfocus.png');
      }
    }
  }
}