#mystats_wrapper {
  #words_calendar_wrapper {
    padding: 0;

    ul#words_calendar {
      margin-top: 20px;

      li.calendar_item {
        margin: 0;
        width: 25px;
        line-height: normal;

        .day_number {
          font-size: 13px;
          text-align: center;
          margin-bottom: 5px;
        }

        .progression_status {
          text-align: center;
          padding-top: 2px;
          width: 100%;
          height: 20px;
          color: white;
          font-size: 11px;
        }
      }

      li.calendar_item.nowords {
        .progression_status {
          background-color: #555555;
          border-bottom: 3px solid #333333;
        }
      }

      li.calendar_item.somewords {
        .progression_status {
          background-color: #D18C32;
          border-bottom: 3px solid #B67520;
        }
      }

      li.calendar_item.allwords {
        .progression_status {
          background-color: #53EC79;
          border-bottom: 3px solid #3CCA5F;
        }
      }
    }
  }


  #mynanos_wrapper {
    #current_nano,
    #all_nanos {
      margin-left: 10px;
      margin-top: 20px;
    }

    ul.nano_stats {
      font-size: 17px;

      li.stat_row:first-child {
        border-top: none;
      }

      li.stat_row {
        display: block;
        padding: 10px 5px 5px;
        margin: 5px 0;
        border-top: 1px dotted #333333;

        div {
          display: inline-block;
          position: relative;
        }

        div.stat_label {
          font-weight: bold;
        }
      }
    }
  }

  #archives_wrapper {
    #archives_filters {
      h4 {
        margin-left: -10px;
      }

      button.btn_filter {
        color: white;
        border: 1px solid transparent;
      }

      button[data-filter="solo"] {
        background-color: #6ED6A4;
      }

      button[data-filter="word_war"] {
        background-color: #AE81FF;
      }

      .btn_filter[data-filter="word_war"].inactive,
      .btn_filter[data-filter="solo"].inactive {
        background-color: #CECECE;
      }
    }

    #archives_content_wrapper {
      margin-top: 30px;

      .days_wrapper {
        margin-top: 30px;

        h3 {
          font-size: 20px;
        }

        .archive_content_wrapper {
          position: relative;
          margin-bottom: 20px;

          .content_type {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 3px;
            font-size: 12px;
            color: white;
            z-index: 5;
          }

          .archive_content {
            position: relative;
            // max-height: 150px;
            overflow: hidden;
            border-width: 2px;
            border-style: dotted;
            padding: 10px;
            padding-top: 20px;

            .show_more,
            .show_less {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              padding-bottom: 5px;
              background-color: #F1F1F1;
              text-align: center;
              font-size: 12px;
              cursor: pointer;
              background-color: #f1f1f1;
              -webkit-box-shadow: 0px -7px 18px 5px rgba(241,241,241,1);
              -moz-box-shadow: 0px -7px 18px 5px rgba(241,241,241,1);
              box-shadow: 0px -7px 18px 5px rgba(241,241,241,1);
            }
          }

          .content_type.solo {
            background-color: #6ED6A4;
          }

          .content_type.word_war {
            background-color: #AE81FF;
          }

          .archive_content.word_war {
            border-color: #AE81FF;
          }

          .archive_content.solo {
            border-color: #6ED6A4;
          }
        }
      }

      .pages {
        text-align: center;

        .current_page {
          font-weight: bold;
          font-size: 18px;
        }

        a,
        .current_page {
          display: inline-block;
          margin: 10px 5px;
          padding: 2px 5px;
        }
      }
    }
  }
}