#mystats_wrapper {
  #words_calendar_wrapper {
    ul#words_calendar {
      margin-top: 20px;
      width: 400px;

      li {
        margin: 0 5% 20px 0;
        height: 30px;
        width: 8%;
      }

      li.week_day {
        text-align: center;
        font-size: 14px;
        height: 30px;
      }

      li.calendar_item {
        font-size: 10px;
        border: 1px solid black;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        position: relative;
        background-color: transparent;

        .day_number {
          position: absolute;
          top: 0;
          left: 3px;
          z-index: 10;
          background-color: transparent;
        }

        .progression_status {
          background-color: #1DB954;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 1;
        }
      }

      li.calendar_item.filler {
        border: none;
      }

      li.calendar_item.nowords,
      li.calendar_item.filler, {
        .progression_status {
          display: none;
        }
      }
    }
  }


  #mynanos_wrapper {
    #current_nano,
    #all_nanos {
      margin-left: 10px;
      margin-top: 20px;
    }

    ul.nano_stats {
      // margin: 0 auto;
      font-size: 17px;

      li.stat_row:first-child {
        border-top: none;
      }

      li.stat_row {
        display: block;
        padding: 10px 5px 5px;
        margin: 5px 0;
        border-top: 1px dotted #333333;

        div {
          display: inline-block;
          position: relative;
        }

        div.stat_label {
          font-weight: bold;
        }
      }
    }
  }
}