{% extends "ExportBundle::layout.html.twig" %}

{% block fil_ariane %}
  <li>export</li>
  {# {{ render(controller('WordWarsBundle:WordWars:breadcrumb')) }} #}
{% endblock %}

{% block title_page %}Soon...{% endblock %}

{% block export_body %}
  <div id="export_wrapper" class="content_wrapper">
  </div>
{% endblock %}